# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Vector databases
rag/chroma_db/
rag/multi_threat_db/

# Trained ML model artifacts
models/

# OS files
.DS_Store
Thumbs.db

# Large model/cache files
*.bin
*.pt
*.pth

# VS Code settings (optional)
.vscode/

data/raw/